# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Build artifacts
build/
dist/
*.egg-info/

# Visualization App (if it's a build output and not source code)
adcs_sim/visualizationApp/

# Virtual environment
.venv/
venv/
ENV/
env/

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo 